{% extends "base.html" %}
{% block content %}
{% load static %}

<section class="content">
    <div class="logodiv">
        <img src="{% static 'img/image.png' %}" alt="" class="twitterlog">
        <h1>Home</h1>
    </div>
    <section class="post_form">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" name="name" placeholder="Your name" required />
            <textarea name="body" placeholder="Whats Happening?" required></textarea>
            <input type="file" name="image">
            <input type="submit" value="Upload">
        </form>
    </section>
    <section class="posts">
        <ul>
            {% for post in posts %}
            <li>
                <img class="menu_icon js-menu-icon" src="{% static 'img/option.png' %}" alt="">
                <div class="menu">
                    <a href="/delete/{{post.id}}">Delete</a> <br>
                    <a href="/edit/{{post.id}}">Edit</a>
                </div>
                <div class="logo">
                    <img src="{% static 'img/profile.png' %}" alt="">
                </div>
                <div class="name_body">
                    <div class="name">{{post.name}}</div>
                    <div class="datetime">{{post.created_at}}</div>
                    <p>{{post.body}}</p>
                    <br>
                    {% if post.image.url %}
                    <img src="{{post.image.url}}" alt="" class="post-image" width="100%">
                    {% endif %}
                    <div class="button-container">
                        <form action="{% url 'like' post.pk %}" method="POST" id="likes-form">
                            {% csrf_token %}
                            <div class="row">
                                <button class="like-button" type="submit">&#10084</button>
                                {{post.likes}}
                            </div>
                        </form>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </section>
</section>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="{% static 'js/posts.js' %}"></script>
{% endblock %}